body {
   
    text-align: left;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #555;
    font-size: 16px;
    font-weight: 400;
}

strong { font-weight: 700; }
.red { color: #eb4141; }
a:hover { text-decoration: none; }


.logo h1 {
    padding-left: 50px;
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    font-weight: 400;
   	text-align:center;
   
}

.logo h1 a { color: white; }

.register-container {
    margin-top: 50px;
}
.register{
	position:absolute;
	margin: 0 auto;

	top: 50%;
	left: 50%;
	margin-top: -290px;
	margin-left: -268px;
	box-shadow: 0px 0px 40px #888888;
}
.register form {
	width:600px;
	
    padding: 20px 50px 40px 50px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
    text-align: center;
}

.register form h2 {
    margin-bottom: 25px;
    padding-bottom: 15px;
    background: url(../resources/pencil.png) 70px 6px no-repeat;
    border-bottom: 2px dotted #bbb;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.register form input {
    width: 450px;
    background: rgba(255,255,255,.1);;
    border: 1px solid #ddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 0;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 16px;
	color: white;
	height: 40px;
	align:center;
	margin-left:20px;
	
}
.register form input::-webkit-input-placeholder {
        /* placeholder颜色  */
        color: #ffffff;
        /* placeholder字体大小  */
        
        /* placeholder位置  */
        text-align: left;
}

.register form input:focus {
    border: 1px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.register form label {
    margin: 7px 0 10px 5px;
    font-size: 16px;
    text-align: left;
}

.register form label span {
    font-style: italic;
}

.register form input:-moz-placeholder { color: #aaa; }
.register form input:-ms-input-placeholder { color: #aaa; }
.register form input::-webkit-input-placeholder { color: #aaa; }

.register form input[type="submit"] {
    cursor: pointer;
    width: 60%;
    height: 42px;
    margin-top: 25px;
    padding: 0;
    background: #1c1d1e;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.register form input[type="submit"]:hover {
    -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
}

.register form input[type="submit"]:active {
    -moz-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
}


@media (max-width: 1200px) {

    .register form h2 { background: url(../img/pencil.png) 20px 6px no-repeat; }

}

@media (min-width: 768px) and (max-width: 979px) {

    .register form h2 { background: none; }

}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }

    .logo, .links { text-align: center; }

    .links { padding-bottom: 5px; }

    .logo h1 { padding-left: 0; }

    .links a.home { margin-left: 0; }

    .links a.blog { margin-right: 0; }

    .register-container { padding-left: 20px; padding-right: 20px; }

    .register form h2 { background: none; }


}

@media (max-width: 480px) {

    .register form button { width: 97%; }

}
/*用于修饰密码强度条外边框div*/
.pwdStrongth {
	border: 1px solid hsla(0, 0%, 100%, 1);
	border-radius: 5px;
	height: 15px;
	width: 200px;
	margin-left: 15px;
}
/*用于设置span标签的初始样式*/
.cinnerprogress {
	display: block;
	height: 100%;
	background-color: transparent;
	border-radius: 5px;
	width: 100%;
}
/*下面四个将用于设置span标签在不同密码强度的样式*/
.strengthLv1 {
	display: block;
	height: 100%;
	border-radius: 5px;
	background: red;
	width: 25%;
}

.strengthLv2 {
	display: block;
	height: 100%;
	border-radius: 5px;
	background: orange;
	width: 50%;
}

.strengthLv3 {
	display: block;
	height: 100%;
	border-radius: 5px;
	background: #09F;
	width: 75%;
}

.strengthLv4 {
	display: block;
	height: 100%;
	border-radius: 5px;
	background: green;
	width: 100%;
}

.error_sty {
	color: #ff5b5b;
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
	text-align: left;
	bottom: 0;
	margin-left: 20px;
}