<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 启用annotation的支持 -->
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.esri"></context:component-scan>
	<!-- 引入资源路径,专门用来读取properties的文件,多个文件用逗号隔开
	，applicationContext中只能出现一次这个 -->
	<context:property-placeholder location="classpath:database.properties"/>
	
		<!-- 创建数据库连接的DataSource -->	
	<bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="jdbcUrl" value="${db.url}"></property>
	<property name="driverClass" value="${db.driver}"></property>
	<property name="user" value="${db.username}"></property>
	<property name="password" value="${db.password}"></property>
	<property name="maxPoolSize" value="${pool.maxsize}"></property>
	<property name="minPoolSize" value="${pool.minsize}"></property>
	<property name="initialPoolSize" value="${pool.initiate}"></property>
	<property name="maxIdleTime" value="${pool.idle}"></property>
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<!-- 增加c3p0的的DataSource -->
		<property name="dataSource" ref="datasource"></property>
	</bean>
	<!-- 添加hibernate封装模板 -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- hibernate事务控制器，同时可以实现数据库关闭 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 引入tx命名空间，管理transaction -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- 配置事务通知属性 -->  
    <tx:advice id="txAdvice" transaction-manager="transactionManager">  
        <!-- 定义事务传播属性,描述的业务层的操作 -->  
        <tx:attributes>  
            <tx:method name="insert*" propagation="REQUIRED" />  
            <tx:method name="update*" propagation="REQUIRED" />  
            <tx:method name="edit*" propagation="REQUIRED" />  
            <tx:method name="save*" propagation="REQUIRED" />  
            <tx:method name="add*" propagation="REQUIRED" />  
            <tx:method name="new*" propagation="REQUIRED" />  
            <tx:method name="set*" propagation="REQUIRED" />  
            <tx:method name="remove*" propagation="REQUIRED" />  
            <tx:method name="delete*" propagation="REQUIRED" />  
            <tx:method name="change*" propagation="REQUIRED" />  
            <tx:method name="rm" propagation="REQUIRED"/>
            <tx:method name="login" propagation="REQUIRED"/>
            <!-- 读取操作，采用只读的模式 -->
            <tx:method name="get*" propagation="REQUIRED" read-only="true" />  
            <tx:method name="find*" propagation="REQUIRED" read-only="true" />  
            <tx:method name="load*" propagation="REQUIRED" read-only="true" />  
            <tx:method name="list*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED" read-only="true" />  
        </tx:attributes>  
    </tx:advice>  
	
	<!-- 定义事务的处理切入点 -->
	<aop:config expose-proxy="true">
		<aop:pointcut expression="execution(* com.esri..service.*.*(..))" id="pointcut"/>
		<!-- 在业务层中农工进行切入控制 -->	
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
	</aop:config>
</beans>